@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root{
    --header-background: #B19470;
    --primary: #F8FAE5;
    --secondary: #43766C;
}

*{
    font-family: "JetBrains Mono", Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type="text"]:focus{
    outline: none;
}

.header-barva{
    background-color: var(--header-background);
}
.primary {
    background-color: var(--primary);
}
.secondary {
    background-color: var(--secondary);
    color: white;

}

.inline{
    display: flex;
    justify-content: space-between;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.header-nav, .header-nav ul li {
    display: inline-block;
}

.header-nav ul li a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}
.header-nav ul li a:hover {
    text-decoration: 2px solid underline;
}


/* MAIN */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20%;
}

h1{
    font-size: 40px;
}
h2{
    margin-top: 25px;
}

.fotka{
    border-radius: 5%;
    width: 50%;
    object-fit: cover;
    max-width: 300px;
    width: 300px;
    height: auto;
    max-height: 300px;
    margin: 0 20px;
}
#slideshow{
    border-radius: 5%;
    max-height: 300px;
}

.galerie{
    width: fit-content;
    display: flex;
    height: 100px;
    gap: 6px;
    margin-top:25px;
    justify-content: center;
}
.obrazek{
    height: 75px;
    width: 175px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.obrazek1{
    background-image: url("./imgs/galerie/4.webp");
}
.obrazek2{
    background-image: url("./imgs/galerie/3.webp");
}
.obrazek3{
    background-image: url("./imgs/galerie/2.webp");
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0 50px 0;
}
.info-section .fakta-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.fakta-container > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info-icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 7px;
}

.yap{
    padding: 0 20%;
}

.newsletter-email{
    padding: 5px
}
.newsletter-button{
    padding: 5px;
}
.newsletter-button:hover{
    cursor:pointer;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
}
.bottom{
    position: absolute;
    bottom: 0;
}
footer img:hover{
    animation: 1s rotate infinite;
}


@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    *, ::not(footer){
        flex-direction: column;
    }
    .fotka{
        width: 90%;
        margin-bottom: 20px;
    }
    .inline{
        flex-direction: column-reverse;
        align-items: center;
    }

    #slideshow, .galerie{
        max-width: 90%;
    }

    .galerie *:last-child{
        display: none;
    }

    .info-section .fakta-container{
        flex-direction: column;
        align-items: center;
        gap: 50px
    }
    .fakta-container div{
        width: 85%;
    }
    #galerie{
        max-width: 90%;
    }
    section{
        padding: 25px 5%;
    }
    .yap{
        padding: 25px 5%;
    }
}