@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: "JetBrains Mono", Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-barva{
    background-color: #B19470;
}
.primary {
    background-color: #F8FAE5;
}
.secondary {
    background-color: #43766C;
    color: white;

}

.inline{
    display: flex;
    justify-content: space-between;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.logo{
    height: fit-content;
}

.header-nav, .header-nav ul li {
    display: inline-block;
}

.header-nav ul li a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}
.header-nav ul li a:hover {
    text-decoration: 2px solid underline;
}


/* MAIN */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 5%;
}

h1{
    font-size: 40px;
}
.fotka{
    border-radius: 5%;
    width: 50%;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    margin: 0 20px;
}
#slideshow{
    border-radius: 5%;
    max-height: 300px;
}

.galerie{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100px;
    gap: 6px;
    margin-top:25px;
}
.obrazek{
    height: 75px;
    width: 175px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.obrazek1{
    background-image: url("./imgs/galerie/4.webp");
}
.obrazek2{
    background-image: url("./imgs/galerie/3.webp");
}
.obrazek3{
    background-image: url("./imgs/galerie/2.webp");
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 0 50px 0;
}
.info-section .fakta-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.fakta-container > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info-icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 7px;
}

.yap{
    padding: 0 20%;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
}
.bottom{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    *{
        flex-direction: column;
    }
    .fotka{
        width: 90%;
        margin-bottom: 20px;
    }
    .inline{
        flex-direction: column-reverse;
    }
    .info-section .fakta-container{
        flex-direction: column;
        align-items: center;
        gap: 50px
    }
    .fakta-container div{
        width: 85%;
    }
    #galerie{
        max-width: 90%;
    }
}